<div id="<%= dom_id event %>">
  <p>
    <strong>Created by:</strong>
    <%= event.created_by %>
  </p>

  <p>
    <strong>Owned by:</strong>
    <%= event.owned_by %>
  </p>

  <p>
    <strong>Startdatetime:</strong>
    <%= event.startDateTime %>
  </p>

  <p>
    <strong>Enddatetime:</strong>
    <%= event.endDateTime %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= event.status %>
  </p>

</div>
